<a href="https://colab.research.google.com/github/shafeeq8904/pythonpractice/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

basic python practise

In [ ]:
'hello'

'hello'

In [ ]:
"world"

'world'

indexing

In [ ]:
my="shafeeq"
my[2]

'a'

In [ ]:
my[-1]

'q'

slicing

In [ ]:
my[1:6]

'hafee'

In [ ]:
my[::-1]

'qeefahs'

In [ ]:
my="hello world"
my.split()

['hello', 'world']

In [ ]:
my="hi da from madurai"
my.split("a")

['hi d', ' from m', 'dur', 'i']

In [ ]:
print("shafeeq {}".format("is good boy"))
print("shafeeq {1} {2} ".format("fox","lox","box"))

shafeeq is good boy
shafeeq lox box

In [ ]:
 s=" shafeeq"
 print(f"this is{s}")

this is shafeeq

dictionary

In [ ]:
dic={'key1':'sha','key2':'feeq'}
dic['key1'].upper()
dic['key1']='cha'
dic

{'key1': 'cha', 'key2': 'feeq'}

In [ ]:
dic={'key1':'sha','key2':'feeq'}
dic.keys()

dict_keys(['key1', 'key2'])

In [ ]:
d={'key1':'shafeeq','key2':'ahmed'}
d.values()

dict_values(['shafeeq', 'ahmed'])

In [ ]:
dic={'key1':'sha','key2':'feeq'}
dic['key1']

'sha'

set

In [ ]:
la= set('mississsippi')
la

{'i', 'm', 'p', 's'}

In [ ]:
pwd

'/content'

  python statements , control flow statements make use of colons and indentation

In [ ]:
kaka ='black'

if kaka=='blue':
  print('kaka is blue')

elif kaka=='red':
  print('kaka is red')

else:
  print('kaka is always black')

kaka is always black

for loops

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10]

for num in list1:
  print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10]

for num in list1:
  if num%2==0:
    print(num)

  else:
    print(f' odd number: {num}')

 odd number: 1
2
 odd number: 3
4
 odd number: 5
6
 odd number: 7
8
 odd number: 9
10

tuple unpacking

In [ ]:
listu=[('orange','banana'),('orange','apple'),('cherry','pine')]

for a,b in listu:
  print(a)

orange
orange
cherry

In [ ]:
letter='shafeeq ahmed'
for item in letter:
  print(item)

s
h
a
f
e
e
q

a
h
m
e
d

continue statement is where if the condition becomes true then it will skip

In [ ]:
x='shafeeq'
for item in x:
  if item=='a':
    continue
  print(item)

s
h
f
e
e
q

In [ ]:
x='shafeeq'
for item in x:
  if item=='a':
    break
  print(item)

s
h

In [ ]:
x=0

while x<10:
  if x==5:
    break
  print(x)
  x+=1

0
1
2
3
4

range function is same like slicing the diff is range is a generator

In [ ]:
list(range(2,10,2))

[2, 4, 6, 8]

In [ ]:
x=0
item='ahmed'

for i in item:
  print('the x is {} and i is {}'.format(x,i))
  x +=1

the x is 0 and i is a
the x is 1 and i is h
the x is 2 and i is m
the x is 3 and i is e
the x is 4 and i is d

enum function

In [ ]:
x='pocox3'
for i in enumerate(x):
  print(i)

(0, 'p')
(1, 'o')
(2, 'c')
(3, 'o')
(4, 'x')
(5, '3')

In [ ]:
l=['sha','fee','qq']

print(list(enumerate(l)))

[(0, 'sha'), (1, 'fee'), (2, 'qq')]

In [ ]:
lala='shafeeq'
mylist=[]
for item in lala:
  mylist.append(item)
  mylist

In [ ]:
la='bannari amman institute of technology'

for word in la.split():
  if word[0]=='b':
    print(word)

bannari

In [ ]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [ ]:
[x for x in range(1,51) if x%3==0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [ ]:
la='bannari amman institute of technology'

for word in la.split():
  if len(word)%2==0:
    print(word,'the word is even')

of the word is even
technology the word is even

In [ ]:
for num in range(1,101):
  if num%3==0:
    print('Fizz')
  elif num%5==0:
    print('Buzz')
  elif num%3==0 and num%5==0:
    print('FizzBuzz')
  else:
    print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

leap year or not

In [ ]:
year=int(input('which year do you want to check? :'))
if year%4==0:
  if year%100==0:
    if year%400==0:
      print('leap year')
    else:
      print('non leap year')
  else:
    print('leap year')
else:
  print('it is not a leap year')

which year do you want to check? :2023
it is not a leap year

In [ ]:
size=input('enter the size of pizza M/S/L')
bill=0
if size=='s' or size=='S':
  bill+=50
  print('your bill is 50')

elif size=='m' or size=='M':
  bill+=100
  print('your bill is 100')

else:
  bill+=150
  print('your bill is 150')

add_pizza=input('do you want maccaroniii Y/N')

if add_pizza=='y' or add_pizza=='Y':
  if size=='s' or size=='S':
    bill+=100
  elif size=='m' or size=='M':
    bill+=100
  else:
    bill+=100

print({f'your final bill is{bill}'})

enter the size of pizza M/S/LM
your bill is 100
do you want maccaroniii Y/NY
{'your final bill is200'}

In [ ]:
import random
a=random.randint(1,2)
if a==1:
  print('its tail')
else:
  print('its head')

its tail

In [ ]:
import random
names=input('enter the the seperated by commas:')
names_list=names.split(',')
length=len(names_list)
spin=random.randint(0,length-1)
print(f'{names_list[spin]} should pay the bill')

enter the the seperated by commas:jyegfc,xjywgf,wcjygxf
wcjygxf should pay the bill

rock paper scissor game

In [ ]:
import random
user=int(input('enter the choice 0-for rock , 1-for paper ,2-for scissor:'))
if user>=3 or user<1:
  print('invalid input')

computer=random.randint(0,2)
print(computer)
if computer==user:
  print('game is draw')
elif user==0 and computer==2:
  print('user wins')
elif user==2 and computer==0:
  print('computer wins')
elif user>computer:
  print('user winss')
elif computer>user:
  print('computer wins')

enter the choice 0-for rock , 1-for paper ,2-for scissor:2
0
computer wins

In [ ]:
total=0
for i in range(1,11):
  total+=i
print(total)

55

*args

In [ ]:
def add(*numbers):#here it is converted into tuples,it is immutable
  c=0
  for i in numbers:
    c+=i
  print(c)

add(12,34,5,6,7)
add(34,5,7,9,0,2,3,4,34) # we use this when we dont know how many arguments we pass

64
98

In [ ]:
def add(*numbers,name):#here it is converted into tuples,it is immutable
  c=0
  print(numbers)
  print(name)
""" for i in numbers:
        c+=i
     print(c)"""

add(12,34,5,6,7,name='shafeeq')
add(34,5,7,9,0,2,3,4,34,name='kalai')

#first normal arguments pass and then positional arbitary and keyword

(12, 34, 5, 6, 7)
shafeeq
(34, 5, 7, 9, 0, 2, 3, 4, 34)
kalai

**kwargs

In [ ]:
def menu(**kwargs):#here it comes as dictionaries
  print(kwargs)

menu(food='fish',table=1,cost=450)
menu(food='chicken',table=5,cost=600)

{'food': 'fish', 'table': 1, 'cost': 450}
{'food': 'chicken', 'table': 5, 'cost': 600}

In [ ]:
def menu(*args,**kwargs):#here it comes as dictionaries
  print(kwargs)
  print(args)
  print('token {} dish is {} at {} of {}'.format(args[0],kwargs['food'],kwargs['table'],kwargs['cost']))


menu(1,23,22,food='fish',table=1,cost=450)
menu(22,55,66,food='chicken',table=5,cost=600)

{'food': 'fish', 'table': 1, 'cost': 450}
(1, 23, 22)
token 1 dish is fish at 1 of 450
{'food': 'chicken', 'table': 5, 'cost': 600}
(22, 55, 66)
token 22 dish is chicken at 5 of 600

In [12]:
def myfunc(input):
    result=''
    for i in range(len(input)):
        if i % 2==0:
            result += input[i].lower()
        else:
            result += input[i].upper()
    return result

myfunc('sHaFREaai')

'sHaFrEaAi'

In [3]:
def animal_crackers(text):
    text=text.split()
    print(text)
    first=text[0]
    second=text[1]

    if first[0]==second[0]:
      return True
    else:
      return False

animal_crackers('laaaaaa bahadhurasha')

['laaaaaa', 'bahadhurasha']

False

accessing the first element of an list and to put in new list if the first letter is equal

In [23]:
def hey(names):
  check='A'
  print(names)
  hey=[idx for idx in names if idx[0].lower() == check.lower()]
  print('the matched word is',hey)

names=['Ahafeeq','Nhahid','Mishore','aarthi']
hey(names)

['Ahafeeq', 'Nhahid', 'Mishore', 'aarthi']
the matched word is ['Ahafeeq', 'aarthi']

In [26]:
def low(arg):
  text=arg.upper().split()
  if text[0][0]==text[1][0]:
    return True
  else:
    return False

low('shafeeq ahmed')
low('kishore Karthi')

True